{{page-title "Customers"}}
<h2>Customers</h2>
<div class="table-responsive-md">
    <table class="table table-striped table-hover">
        <caption>List of customers</caption>
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th class="text-end">Last updated</th>
        </thead>
        <tbody>
            {{#each @model as |customer|}}
            <tr>
                <td>{{customer.id}}</td>
                <td><LinkTo @route="customer-details" @model="{{customer.id}}" class="cursor-pointer" title="View customer details">{{customer.attributes.email}}</LinkTo></td>
                <td class="text-end">{{customer.last_updated}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{outlet}}