{{page-title "Edit Customer"}}
<h2>{{@model.attributes.email}}</h2>
<span>Last updated: {{@model.last_updated}}</span>
<h3>Attributes</h3>
  <div class="mb-3 row">
    <label for="id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
      <input type="text" disabled class="form-control-plaintext" id="id" value="{{@model.id}}">
    </div>
  </div>
  <AddEditAttributes @attributes={{@model.attributePairs}} @customerId={{@model.id}} />

{{outlet}}